/* MOBILE FIRST */

body {
	font-family: 'Cutive Mono', monospace;
	color: white;
	text-align: center;
	/*background-color: #204060;*/
	background-color: black;
	margin: 0px;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
	padding-left: 0;
}

/* LOGO */

.logo {
	display: none;
	font-size: 1em;
	color: #fff;
	font-weight: normal;
	text-shadow: 5px 5px 7.5px #000;
	margin-top: .43em;
	margin-bottom: .43em;
	border: 1px solid yellow;
}
 /*



/*NAV BAR*/
.nav-bar {
	display: flex;
	list-style: none;
	margin: auto;
	padding-left: 0;
	background-color: red;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	/*border: 1px solid yellow;*/
}

.nav-bar li {
	margin: 0px;
	text-shadow: 2px 2px 2px #000,
				 0px 0px 7.5px #000;
	border-left: 1px solid black;
}

.nav-bar li a {
	/*padding: 7px;*/
	/*border: 1px solid yellow;*/
}

.selected {
	/*font-size: 1.5em;*/
	background-color: green;
	font-style: bold;
	color: #fff;
	transition: background 0.5s;
}

/* TAB-SPECIFIC CONTENT */

.my-gargen-page,
.my-store-page,
.inventory-page,
.get-seeds-page,
.get-supplies {
	display: none;
	margin-top: 3.14em;
	margin-bottom: 3.14em;
	color: #fff;
	border: 1px solid yellow;
}



/* STORE */

.page-content-container ul {
	display: flex;
	flex-direction: row;
	width: 85%;
	margin: 0px auto 0px;
	border: 1px solid yellow;
}




/*FOOTER*/
footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: red;
	font-size: 1em;
	margin: 0px auto 0px;
	/*border: 1px solid red;*/
}
/*
footer * {
	border: 1px solid white;
}*/